body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1a202c;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.listLollies {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.listLollies .lollipop,
.lollyFormDiv .lollipop {
  height: 300px;
}
.headerContent {
  color: white;
  font-family: Yellowtail, cursive;
  text-align: center;
  font-weight: 300;
}
.createLollyWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.colorSelectorContainer {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  height: 75%;
  margin-top: 1rem;
  padding: 0 40px;
}
.colorPickerLabel {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20px;
  overflow: hidden;
}
.colorPicker {
  width: 80px;
  height: 80px;
  margin-top: -10px;
  margin-left: -10px;
}
.lollyFormWrapper {
  background-color: #2d3748;
  padding: 30px 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 330px;
}
.textFeild {
  padding: 8px 8px;
  width: 100%;
  font-size: 14px;
  border-radius: 2px;
  border: none;
}
.textFeild:focus {
  outline: none;
}
.textFeildLabel {
  color: #cbd5e0;
  font-weight: 100;
  font-size: 15px;
  padding: 0px 0 4px 0;
  text-transform: capitalize;
}
.errorMsg {
  color: rgb(221, 50, 50);
  font-size: 15px;
  padding-top: 2px;
}
.mainButton {
  width: 200px;
  font-size: 24px;
  border: 1px solid #cbd5e0;
  text-transform: capitalize;
  padding: 10px 10px;
  border-radius: 50px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.mainButton:hover {
  background-color: #4c51bf;
}
.mainButton:focus {
  outline: none;
}
.freezedLollyCardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.freezedLollyData {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0px 0 80px;
  max-width: 400px;
}
.freezedLollyData > .linkWrapper > h4 {
  color: #cbd5e0;
  font-weight: 300;
  text-align: center;
}
.freezedLollyData > .linkWrapper > p {
  color: #4c51bf;
  text-align: center;
  padding: 20px 0px;
  margin: 10px 0;
  background-color: #2d3748;
  border-radius: 5px;
  font-size: 15px;
}
.freezedLollyCard {
  background-color: #2d3748;
  color: #f3f3f3;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}
.freezedLollyCard h1 {
  text-transform: capitalize;
  padding: 10px 0;
  font-size: 20px;
}
.freezedLollyCard p {
  padding: 0px 0 20px 0;
  color: #cbd5e0;
}
.freezedLollyCard h3 {
  color: #cbd5e0;
  position: relative;
  right: 0;
  text-align: right;
}
.recivermessage {
  color: #cbd5e0;
  text-align: center;
  padding-top: 30px;
}
.loderWrapper {
  text-align: center;
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .createLollyWrapper {
    flex-direction: column;
  }
  .colorSelectorContainer {
    flex-direction: row;
  }
  .lollyFormWrapper {
    margin-top: 30px;
  }
  .freezedLollyCardWrapper {
    flex-direction: column;
  }
  .freezedLollyData {
    margin: 30px 0px 0 0px;
  }
}
